.task {
	margin: 10px;
	padding: 10px;
	justify-content: space-around;
	border-radius: 10px;
	background-color: #79dae8;
	display: flex;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.description {
	line-height: 4;
	text-align: left;
}
.description p {
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}

.optionbutton {
	display: flex;
}
